{{> header}}
<section id="viewMyMessages">
    <h1>My Messages</h1>
    <div class="messages" id="myMessages">
        <table>
            <thead>
            <tr>
                <th>From</th>
                <th>Message</th>
                <th>Date Received</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Marin Marinov</td>
                <td>Peter, I am Marin from Varna.</td>
                <td>1.03.2015 4:18:43</td>
            </tr>
            <tr>
                <td>Kiril (kiro)</td>
                <td>Happy new year!</td>
                <td>1.1.2017 0:00:01</td>
            </tr>
            {{#each messages}}
                {{> message}}
            {{/each}}
            </tbody>
        </table>
    </div>
</section>
{{> footer}}