<section id="viewArchiveSent">
    <h1>Archive (Sent Messages)</h1>
    <div class="messages" id="sentMessages">
        <table>
            <thead>
            <tr>
                <th>To</th>
                <th>Message</th>
                <th>Date Sent</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>maria</td>
                <td>Party this evening?</td>
                <td>9.06.2016 19:55:59</td>
                <td><button>Delete</button></td>
            </tr>
            {{#each messages}}
                {{> archiveMessage}}
            {{/each}}
            </tbody>
        </table>
    </div>
</section>