<tr>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>{{price}}</td>
    <td>
        <form action="#/cart/purchase/:{{_id}}" method="POST">
            <input type="submit" value="Purchase">
        </form>
    </td>
</tr>